.course-div {
    background-color: var(--ds-color__purple);
    color: var(--ds-color__white);
    border-radius: 5px;
    padding: 32px;
    box-shadow: 0 16px 24px 0 rgb(34 60 80 / 15%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    -webkit-box-pack: justify;
  }

.course-title {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}