* {
  box-sizing: border-box;
}

html {
  font-family: DINPro-Cond,Helvetica,Arial,sans-serif;
  font-size: 60px;
  line-height: 1.15px;
  color: #fff;
}

body {
  margin: 0;
  background-color: #223c50;
}